# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!Manifest_Builder.exe
!Service_Generator.exe
*.out
*.app

# CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Visual Studio Code files 
.vscode/*
!.vscode/settings.json


# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

build

[Bb][Uu][Ii][Ll][Dd]
.metadata
.setting*
Debug

# Eclipse files
.project
.cproject
*.launch
.loadpath
.recommenders
*.tmp
*.bak
*.swp
*~.nib
local.properties
.buildpath                            
.settings/ 



doc/html*
